.hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    transform: translateX(0);
    transition: transform 0.8s;

    span {
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        left: 50%;
        top: 50%;
        background-color: $white;
        transform: translate(-50%, -50%) rotate(0);
        transition: transform 0.8s, opacity 0.3s, background 0.8s;

        &:nth-child(1) {
            transform-origin: center left;
            top: 14px;
        }

        &:nth-child(2) {
            transform-origin: center right;
            opacity: 0;
            top: 14px;
            transition: transform 0.8s, opacity 0.3s 0.8s;
        }

        &:nth-child(4) {
            top: 36px;
        }
    }

    &.active {
        span {
            background-color: $black;
            &:nth-child(1) {
                transform: translate(-36%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                transition: transform 0.8s, opacity 0.3s;
                opacity: 1;
                transform: translate(-64%, -50%) rotate(-45deg);
            }

            &:nth-child(3) {
                opacity: 0;
            }

            &:nth-child(4) {
                opacity: 0;
            }
        }
    }
}

.btn-full {
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 32px;
    max-width: 230px;
    transition: color 0.5s;

    &__bg {
        position: absolute;
        width: 240px;
        z-index: -1;
        left: -5px;
        top: 2px;
    }

    &:hover {
        color: $gray1;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    border: 2px solid $black;
    padding: 2px 6px;
    min-width: 140px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.5s, color 0.5s;
    
    &.black-bg {
        background-color: $black;
        color: $white;
    }
    
    &.red-bg {
        background-color: $primary-red;
        color: $white;

        &:hover {
            background-color: $light-red;
        }
    }

    &.gray-bg {
        background-color: $dark-gray4;
        color: $white;

        &:hover {
            background-color: $dark-gray3;
        }
    }
}

.btn-ghost {
    background-color: $white;
    border: 2px solid $black;
    padding: 2px 6px;
    min-width: 140px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: background 0.5s, color 0.5s;

    &.black-bg {
        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &.red-bg {
        &:hover {
            background-color: $primary-red;
            color: $white;
        }
    }
    &.gray-bg {
        &:hover {
            background-color: $dark-gray4;
            color: $white;
        }
    }
}

.dropdown-arrow {
    display: block;
    width: 18px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.white {
        span {
            background-color: $white;
        }
    }
    &.black {
        span {
            background-color: $black;
        }
    }

    span {
        width: 50%;
        height: 2px;
        transition: transform 0.5s, background .5s;

        &:nth-child(1) {
        transform: translateX(2px) rotate(45deg);
        }
        &:nth-child(2) {
        transform: translateX(-2px) rotate(-45deg);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
              transform: translateX(2px) rotate(-45deg);
            }
            &:nth-child(2) {
              transform: translateX(-2px) rotate(45deg);
            }
          }
    }
}