.ms-form {
    position: relative;
    width: 100%;
    margin-bottom: 8px;

    &--weapon {
        .ms-form__main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4px;

            .form-field {
                width: auto;
                margin: 0;

                &:first-of-type {
                    grid-column: 1/3;
                }
            }
        }
    }

    &--ability {
        .ms-form__main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 4px;

            .form-field {
                width: auto;
                margin: 0;

                &:last-of-type {
                    grid-column: 1/3;
                    grid-row: 2/4;
                }
            }
        }
    }

    &--keyword {
        .form-field {
            margin-bottom: 0;
        }
    }

    &__wrapper {
        width: 100%;
        border: 1px solid $black;
        padding: 8px 12px;
        background-color: $gray6;

        .text-input {
            height: 26px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .btn {
            position: relative;
            width: 24px;
            height: 24px;
            border-width: 1px;
            min-width: auto;
            bottom: -1px;

            &.move {
                border-color: $dark-gray2;

                &.up {
                    right: -2px;
                }

                &.down {
                    right: -1px;
                }
            }

            span {
                font-size: 11px;
            }

            span[class*="chevron"] {
                font-size: 8px;
            }
        }
    }

    &__acc-toggler {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__acc-content {
        border-top: 1px solid $black;
    }
}