html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

body {
    background-color: $background-gray;
    min-width: 360px;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

.page-content {
    padding-top: 80px;
    @include breakpoint-up($xxl) {
        margin-left: 320px;
    }
}

.container {
    --gutter: 40px;
    width: 100%;
    max-width: calc(1460px + var(--gutter));
    margin: 0 auto;
    padding-left: calc(var(--gutter) * 0.5);
    padding-right: calc(var(--gutter) * 0.5);

    &.smaller-gutter {
        --gutter: 16px;
    }
}

.row {
    margin-right: calc(var(--gutter-big) * -0.5);
    margin-left: calc(var(--gutter-big) * -0.5);

    & > * {
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--gutter-big) * 0.5);
        padding-left: calc(var(--gutter-big) * 0.5);
    }
}

