@mixin breakpoint-up($breakpoint) {
    @media (min-width: $breakpoint) {
      @content;
    }
}
@mixin breakpoint-down($breakpoint) {
    @media (max-width: $breakpoint - 0.2) {
      @content;
    }
}
@mixin breakpoint-between($min, $max) {
    @media (min-width: $min) and (max-width: $max - 0.2) {
      @content;
    }
}

@mixin display-flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}